
.outerborder{
  border: 1px solid blue;
  font-family:"Trajan Pro";
  color: rgb(100,100,100);
  font-weight: lighter;
  background: rgb(241,243,243);
}


.outerborder .row{
  margin: 0px;
  border: 1px solid green;
}

.headerborder {
  
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid green;
  font-size: 1.5em;
}
.MyTable .col-md-3.cell{
  border: 1px solid green;
  text-align: center;
  height:16vw;
  width: 25vw;

}


.buttonstyle{
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #999999;
  font-size: 18px;
  background: #ffffff;
  padding: 6px 35px 8px 35px;
  border: solid #c2bec2 2px;
  text-decoration: none;
  font-family:"Trajan Pro";
  float: right;
  
}

.otherbuttonstyle{
   -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #999999;
  font-size: 18px;
  background: #ffffff;
  padding: 6px 35px 8px 35px;
  border: solid #c2bec2 2px;
  text-decoration: none;
  font-family:"Trajan Pro";
  
}
.bordering{
  border: 1px solid red;
}
    


.footer {
  margin: 10px;
  border: 2px solid pink;
  text-align: center;
}
.MyTable.container{
  margin-top: 10px;
  border: 2px solid red;
  padding: 6px 35px 8px 35px;
  font-family: "Trajan Pro";
  text-align: center;
  
}
.MyTable .row{
  margin: 0px;
  color: #999999;
}
.container-header{
  border: 1px solid black;
  background: rgb(135,142,157);
  color: white;
  margin-top: 3px;
  font-size: 1em;
  text-align: center;

}
.container-body{
  width: 100%;
}
.container-body .row.custom-row{
  font-family: "Trajan Pro";
  color: #999999;
  border: 1px solid yellow;
}

.row.container-footer{
  border: 1px solid red;
  text-align: center;
}

.container-title{
  height: 5vw;
  font-family: "Trajan Pro";
  font-size: 1.5em;
  color: #999999;
  text-align: center;
  border: 1px solid yellow;
}